packages:
    yum:
        git: []
    rubygems:
        mongo: []
        bson_ext: []
        libv8: []
        therubyracer: []

container_commands:
    # 01_secret:
    #     command: rake generate_secret_token --trace


# option_settings:
#   - option_name: BUNDLE_DISABLE_SHARED_GEMS
#     value: "1"
#   - option_name: BUNDLE_PATH
#     value: "vendor/bundle"
