<div class="container">
    <div class="row">
        <div class="span4 offset4 well">
            <legend>Delete User?</legend>

            <%= form_for @user, :url => delete_user_path, :html => { :class => "form-horizontal" } do |f| %>

            <div class="control-group">
                <%= f.label :first_name, "First Name", :class => "control-label" %>
                <div class="controls">
                    <%= f.text_field :first_name, :placeholder => "First Name", :class => :disabled %>
                </div>
            </div>

            <% end %>

        </div>
    </div>
</div>
