<table class="table table-condensed table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>User Email</th>
            <th>Date Joined</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.email %></td>
                <td><%= user.created_at %></td>
                <td>&nbsp;</td>
            </tr>
        <% end %>
    </tbody>
</table>