<div class="container">
    <div class="row">
        <div class="span4 offset4 well">
            <legend>Password Reset</legend>
            <%= form_tag do_forgot_password_path, :class => "login-form" do %>
                <div class="clearfix">
                    <%= text_field_tag :email, params[:email], :placeholder => "Email Address" %>
                </div>
                <%= submit_tag "Reset Password", :class => "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>
