<div class="container">
    <div class="row">

        <div class="span3">
            <div class="span3 bs-docs-sidebar">
                <ul class="nav nav-list bs-docs-sidenav affix">
                    <li class=""><a href="#overview"><i class="icon-chevron-right"></i> Overview</a></li>
                    <li><a href="#config"><i class="icon-chevron-right"></i> Configuration</a></li>
                    <li><a href="#api"><i class="icon-chevron-right"></i> API</a></li>
                    <li><a href="#events"><i class="icon-chevron-right"></i> Event Browser</a></li>
                </ul>
            </div>
        </div>

        <div class="span9">
            <section id="overview">
                <div class="page-header"><h1>Overview</h1></div>

                <p>As described by <a href="http://www.wikipedia.org">Wikipedia</a>, KILN is...</p>

                <blockquote>
                    A kiln is a thermally insulated chamber, or oven, in which a controlled temperature regime is produced. Uses include the hardening, burning or drying of materials. Kilns are also used for the firing of materials, such as clay and other raw materials, to form ceramics (including pottery, bricks etc.)
                </blockquote>

                <p>
                    The idea behind Kiln was to provide a log storage service that allows authorized users to
                    view and report on the stored logged events for multiple applications and multiple environments. 
                    It is a tool to increase the availability of your logs and for developers, QA, customer service,
                    business analysts, and any other stakeholder.
                </p>

            </section>

            <section id="config">
                <div class="page-header"><h1>Server Configuration</h1></div>


            </section>

            <section id="api">
                <div class="page-header"><h1>Restful API</h1></div>


            </section>

            <section id="events">
                <div class="page-header"><h1>Event Browser</h1></div>


            </section>
        </div>

    </div>

</div>