/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ./bootstrap_and_overrides
 */
@import "_mixins";

$shadow-color: #999;

@mixin default-shadow {
    @include box-shadow(2px, 2px, 5px, $shadow-color);
}

body {
    padding-top: 54px;
    background-image: url(image_path('brushed_alu.png'));
}

table {
    background-color: #F0F0F0 !important;
    @include default-shadow();
}

.page-header {
    border-bottom-color: #CCC !important;
}

.graph-container {
    @include rounded( 10px );
    overflow: hidden;
    margin-bottom: 8px;
    background-color: #FFF;
    @include default-shadow();
}

.well, .hero-unit {
    border: 1px solid #CCC !important;
    @include default-shadow();
    @include transparent( #f5f5f5, 0.8 );
}




